/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=BioRhyme:wght@400;700&family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Eczar:wght@400;600&family=Oswald:wght@200;300;500;700&family=Playfair+Display&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* Main Body Styling */
body {
    height: 100vh;
    background-color: #d4d0ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wrapper */
.wrapper {
    width: 650px;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 7px;
}

/* Email message header */
.email-msg-header {
    text-align: center;
}

/* Company name */
.company-name {
    font-size: 37px;
    text-align: center;
    margin: 25px 0px;
}

/* Welcome text */
.welcome-text {
    text-align: center;
    font-size: 18px;
    margin: 15px 10px;
}

/* Verify account button */
.verify-account-btn {
    padding: 15px 25px;
    background-color: #3d34a7;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

/* Copyright wrapper */
.copy-right {
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: -15px;
    display: flex;
    justify-content: center;
    color: rgb(156, 156, 156);
    
}